.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(.72,.02,.42,.87);
    clip-path: circle(150% at 50% 50%);
    overflow-y: auto;
}

.modal .bg {
  width: 100%;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1500px) {
  .modal .bg {
    width: 100%;
    height: 270vh;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.modal img{
  margin: 15px 0;
}


.modalBox {
  position: absolute;
  background-color: #fff;
  width: 718px;
  padding: 2rem;
  top: 5rem;
}

.modalBox p {
    font-size: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    margin: 20px 0;
}

.modalBox button {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.hidden {
  transition: all 1s cubic-bezier(.72,.02,.42,.87);
  clip-path: circle(0% at 50% 50%);
}

.closeBtn{
    cursor: pointer;
    top: 5vh;
}

.subtitle {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
}