.contentWrap {
    background: linear-gradient(120deg, #673CA2, #f6a564);
    width: 100vw;
    height: 100vh;
}

.contentWrap .album {
    cursor: pointer;
    position: absolute;
    top: 47%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    transition: all .4s ease-in-out;
}

.contentWrap .album .coverImg {
    position: absolute;
    width: 400px;
    height: 400px;
    box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.3);
}

.contentWrap .album .coverImg img {
    width: inherit;
    height: inherit;
}

.contentWrap .album .disk {
    position: absolute;
    top: 4px;
    left: 30%;
    width: 392px;
    height: 392px;
    border-radius: 50%;
    background: linear-gradient(120deg, #000, #333333, #000);
    box-shadow: 4px 14px 40px rgba(0, 0, 0, 0.3);
    transition: left 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation: rotateAni 10s ease infinite;
}

.contentWrap .album .disk .disk_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 160px;
    background-color: #F3DEB6;
    border-radius: 50%;
    border: 3px dashed rgba(255, 255, 255, 0.4);
}


.contentWrap .album .disk .disk_inner::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: black;
    border-radius: 50%;
}

.contentWrap .album:hover .disk {
    left: 40%;
    transition-delay: 0s;
}

@keyframes rotateAni {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}
